body {
    background-color: #a71a1a; 
    font-family: Arial, sans-serif;
    color: #333; 
    margin: 0; 
}

h1 {
    color: #4CAF50; /

p {
    margin: 15px; 
    padding: 10px;
    border: 1px solid #ccc;

a {
    color: #007BFF; 
   
    cursor: pointer; 
}



ul {
    padding-left: 20px; 
}

li {
    margin: 5px 0; 
}
